<!DOCTYPE html>
<html>
  <head>
    <title>VPcalc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar justify-content-between"><%= link_to 'VPCALC', root_path, class: 'navbar-brand' %>
      <div>
        <button class="btn lgn-btn my-2 my-sm-0" type="log-in">Login</button>
      </div>
    </nav>
    <div class="pages">
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col">
            <h3>Footer Nonsense</h3>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
